---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Banner from "../components/banner.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />

  <section class="section_1">
    <div class="section_1_text">
      <h2 class="omos1_h2">HVEM ER VI?</h2>
      <p class="omos1_p">
        Vi tror på, at fremtidens garderobe ikke handler om at eje mest muligt,
        men om at dele, genbruge og finde glæde i det, vi allerede har. <br />
        <br /> Hos Another Closet skaber vi en ny måde at tænke mode på: En tøjkultur,
        hvor fællesskab, kreativitet og bæredygtighed går hånd i hånd.
      </p>
    </div>
    <img src="../omos1.webp" alt="omos" />
  </section>
  <Banner />
  <section class="section_2">
    <h2 class="omos2_h2">ET FÆLLESSKAB MED STIL OG MENING</h2>
    <p class="omos2_p">
      Vores kollektioner består af tøj, der tidligere har hængt i garderober
      rundt omkring i landet, og som nu får nyt liv i vores fællesskab. <br />
      <br /> Det hele foregår i vores lokale tøjsaloner, hvor du som medlem kan:
    </p>
    <p>
      Låne og returnere tøj hver måned. <br />Deltage i events og workshops om
      stil, upcycling og bevidst forbrug. <br /> Blive en del af et stærkt netværk
      af andre modeelskere, der går op i bæredygtighed.
    </p>
  </section>

  <section class="section_3">
    <div>
      <h2 class="omos3_h2">VORES MISSION</h2>
      <p class="omos3_p">
        Vi ønsker at gøre op med den lineære modeindustri, hvor tøj alt for
        hurtigt ender som affald. I stedet vil vi inspirere til en mere cirkulær
        og bevidst tilgang til garderoben. <br />
        <br />
        Når du låner tøj gennem Another Closet, reducerer du tøjspild, sparer ressourcer
        og giver dit tøj flere liv.
      </p>
    </div>
    <img src="../omos2.webp" alt="omos" />
  </section>
  <Banner />
</Layout>
<style>
  html,
  * {
    padding: 0;
    margin: 0;
    font-family: "Crimson Pro";
  }

  .section_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d7d8c9;
    color: #393903;
  }
  .section_1 img {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
    height: 20%;

    padding: 2rem;
  }
  .section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2dfd5;
    color: #393903;
  }
  .section_2 h2 {
    font-weight: 300;
    text-align: center;
    font-size: clamp(2rem, 6vw, 8rem);
    margin: 0 auto;
    width: 90vw;
    line-height: 1.1;
    padding-top: 8%;
    padding-bottom: 2rem;
  }

  .section_2 p {
    text-align: center;
    width: 85%;
    line-height: 1.3;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-weight: 200;
    margin: 0 auto;

    padding-bottom: 2rem;
  }

  .section_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f1e8;
    color: #393903;
  }
  .omos3_h2,
  .omos1_h2 {
    font-weight: 300;
    text-align: center;
    font-size: clamp(2rem, 6vw, 8rem);
    margin: 0 auto;

    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  .omos3_p,
  .omos1_p {
    text-align: center;
    width: 85%;
    line-height: 1.3;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    font-weight: 200;
    margin: 0 auto;
  }

  .section_3 img {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    object-fit: contain;
    height: 20%;
    padding: 2rem;
  }

  @media (min-width: 640px) {
    .section_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .section_1 img {
      width: 80%;
      height: 80%;
      margin: 0 auto;
      object-fit: contain;
    }
    .section_1_text {
      padding-bottom: 5rem;
    }
    .section_2 {
      padding-bottom: 2rem;
    }
    .omos3_p,
    .omos2_p,
    .omos1_p {
      line-height: 1.2;
      padding-left: 3rem;
    }
    .omos3_h2,
    .omos2_h2,
    .omos1_h2 {
      padding-top: 0rem;
      padding-left: 3rem;
    }
    .section_3 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .section_3 img {
      width: 80%;
      height: 80%;
      margin: 0 auto;
      object-fit: contain;
      grid-column: 2 / 3;
    }

    .section_2 h2 {
      padding-top: 5%;
    }
  }
</style>
<Footer />
