---
//@ts-nocheck
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import Hero2 from "../components/Hero2.astro";
import Medlem from "../components/medlem.astro";
import Roskilde_afsnit from "../components/Roskilde_afsnit.astro";
import Listeview from "../components/Listeview.astro";
import Hero2 from "../components/Hero2.astro";

const curl = "https://weydcspvvunwbeoolpli.supabase.co/rest/v1/AnotherCloset?category=eq.cloths";

const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndleWRjc3B2dnVud2Jlb29scGxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc2NDY5MDMsImV4cCI6MjA2MzIyMjkwM30.n23gpeZ4XikBpL5r_vuSYntCRJLQ7lqiLq92_HovPJo";

const options = {
  headers: {
    apikey: apikey,
  },
};

const data = await fetch(curl, options).then((response) => response.json());
console.log(data);
---

<Layout>
  <Hero2 />
  <Banner />
  <!-- <Tekststykke_1 /> -->
  <Roskilde_afsnit />
  <h1>Medlemmernes <br />favoritter</h1>
  <section class="card_grid">
    {data.map((product) => <Listeview {product} />)}
  </section>
  <Banner />
</Layout>

<style>
  h1 {
    text-transform: uppercase;
    color: #393903;
    text-align: center;
    font-family: "Crimson Pro";
    font-weight: 300;
    margin-bottom: 0;
    font-size: 32px;
  }

  .card_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 2%;
  }

  @media (min-width: 640px) and (max-width: 1024px) {
    h1 {
      font-size: 50px;
    }

    .card_grid {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      margin: 1%;
    }
  }

  @media (min-width: 1024px) {
    .card_grid {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      margin: 1%;
    }

    h1 {
      font-size: 84px;
    }
  }
</style>
