---
const {} = Astro.props;
---

<section class="afsnit2">
  <h2>SÅDAN FUNGERER DET</h2>

  <p class="del1">Dele-tøj på abonnement! <br /> Lån 3 unikke stykker tøj hver måned for kun 149 kr.</p>
  <p class="del2"></p>
  Find dit tøjfællesskab. <br />
  Tilmeld dig en tøjsalon. <br />
  Mød op. Lån 3 stykker tøj. <br />
  En måned senere: returner & lån nyt.
</section>

<section class="afsnit3">
  <h2>FIND DIT TØJFÆLLESSKAB TÆT PÅ DIG</h2>
  <div class="button_afsnit">
    <button>
      <a href="/roskilde">ROSKILDE</a>
    </button>
    <button>
      <a href="/ribe">RIBE</a>
    </button>
  </div>
  <div class="button_afsnit2">
    <button>
      <a href="/fredericia">FREDERICIA</a>
    </button>
    <button>
      <a href="/norrebro">NØRREBRO</a>
    </button>
  </div>

  <style>
    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .afsnit2 {
      background-color: #f2dfd5;
      color: #393903;
      text-align: center;
      font-size: clamp(1rem, 2.5vw, 2rem);

      font-family: "Crimson Pro", serif;
      line-height: 1.2;
      padding: 0.5rem;
      padding-bottom: 3%;
    }

    .afsnit2 h2 {
      font-size: clamp(2rem, 7vw, 8rem);
      font-family: "Crimson Pro", serif;
      font-weight: 300;
      font-style: normal;
      margin-bottom: -10px;
    }

    .afsnit3 {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.7rem;
      padding-bottom: 4rem;
      background-color: #f4f1e8;
    }
    .afsnit3 h2 {
      font-size: clamp(1.9rem, 7vw, 7rem);
      font-family: "Crimson Pro", serif;
      font-weight: 300;
      font-style: normal;
      text-align: center;
      width: 80vw;
      margin: 0 auto;
      color: #393903;
      padding-top: 5%;
      padding-bottom: 2%;
    }
    .button_afsnit {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }
    .button_afsnit2 {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
    }

    button {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: #d7d8c9;
      text-decoration: none;
      color: #393903;
      font-size: clamp(1rem, 2.5vw, 2rem);
      cursor: pointer;
      font-family: "Crimson Pro", serif;
      width: 90vw;
      padding: 1rem;
      margin: 0 auto;
      border-radius: 1rem;
      border: none;
      letter-spacing: 0.5rem;
    }

    button a {
      text-decoration: none;
      color: inherit;
      /* width: 100%; */
      text-align: center;
    }

    @media (min-width: 800px) {
      .button_afsnit,
      .button_afsnit2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin: 0 auto;
      }

      button {
        width: 90%;
        margin: 0 auto;
      }
      button:hover {
        background-color: #393903;
        color: #d7d8c9;
        transition: 0.4s ease;
      }
    }
  </style>
</section>
