---
const {} = Astro.props;
---

<section class="afsnit2">
  <h2>VIL DU VÆRE MED TIL AT SKABE EN MERE BÆREDYGTIG TØJKULTUR?</h2>

  <p class="del1">Dele-tøj på abonnement! <br /> Lån 3 unikke stykker tøj hver måned for kun 149 kr.</p>
  <p class="del2">
    Find dit tøjfællesskab. <br />
    Tilmeld dig en tøjsalon. <br />
    Mød op. Lån 3 stykker tøj. <br />
    En måned senere: Returner & lån nyt.
  </p>
</section>

<style>
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .afsnit2 {
    background-color: #f2dfd5;
    color: #393903;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 2rem);

    font-family: "Crimson Pro", serif;
    line-height: 1.2;
    padding: 0.5rem;
    padding-bottom: 4%;
  }

  p {
    font-weight: 200;
  }

  .afsnit2 h2 {
    font-size: 30px;
    font-family: "Crimson Pro", serif;
    font-weight: 300;
    font-style: normal;
    margin-bottom: 5%;
    line-height: 30px;
  }

  @media (min-width: 800px) {
    .button_afsnit,
    .button_afsnit2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      margin: 0 auto;
    }

    button {
      width: 90%;
      margin: 0 auto;
    }
    button:hover {
      background-color: #393903;
      color: #d7d8c9;
      transition: 0.4s ease;
    }

    .afsnit2 h2 {
      font-size: 70px;
      line-height: 60px;
      margin-bottom: 3%;
    }

    p {
      font-size: 30px;
    }
  }
</style>
