---

---

<div class="banner">
  <div class="scrolling-text">
    <span class="word-group">ANOTHER DRESS</span>
    <span class="word-group">ANOTHER SHIRT</span>
    <span class="word-group">ANOTHER SKIRT</span>
    <span class="word-group">ANOTHER LIFE</span>

    <span class="word-group">ANOTHER DRESS</span>
    <span class="word-group">ANOTHER SHIRT</span>
    <span class="word-group">ANOTHER SKIRT</span>
    <span class="word-group">ANOTHER LIFE</span>
  </div>
</div>
<style>
  .banner {
    width: 100%;
    background: #393903;
    color: #f4f1e8;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    font-family: "Crimson Pro";
    letter-spacing: 2px;
  }

  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    will-change: transform;
    animation: scroll 20s linear infinite;
  }

  .word-group {
    margin-right: 90px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @media (min-width: 900px) {
    .banner {
      height: 60px;
      font-size: 30px;
    }
    .word-group {
      margin-right: 120px;
    }
  }
</style>
