---
import Layout from "../layouts/Layout.astro";
import Banner from "./banner.astro";
import Header from "./Header.astro";
---

<Header />
<div class="hero_pic">
  <img src="/community.svg" alt="" />
</div>
<style>
  .hero_pic img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  .hero_pic {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
  }

  @media (min-width: 640px) {
    .hero_pic img{
      border-radius: 20px;
    }
</style>
