---
import Layout from "../layouts/Layout.astro";
import Banner from "./banner.astro";
import Header from "./Header.astro";
---

<Header/>
<div class="hero_pic">
  <img src="/heroptest.svg" alt="" />
</div>
<style>
  
  img {
    width: 100%;
    display: block;
  }

  
</style>
