---
import Layout from "../layouts/Layout.astro";
---

<section class="medlem">
  <div class="medlemmer_tekst">
    <h2>KLAR TIL BRYLLUP<br /> MED LÅNT LOOK</h2>
    <p class="p_medlem">
      Da Marie skulle til bryllup, forelskede hun sig i et elegant sæt i lilla satin fra fællesskabets garderobe. I stedet for at købe nyt valgte hun at låne – og det gjorde oplevelsen endnu mere særlig. Den blanke satin, den dybe farve og det
      sofistikerede snit gjorde sættet til det perfekte valg til en dag fyldt med kærlighed, taler og dans. "Det føltes helt særligt at have noget på, som allerede havde gode minder med sig – og nu er der flere," fortæller Marie. Ét sæt, én
      uforglemmelig dag og nul tøjspild. <br />
      <br />
      <strong>- Marie, medlem Ribe</strong>
    </p>
  </div>
  <div class="medlemmer_billed">
    <img src="/bryllup.webp" alt="medlem" />
  </div>
</section>

<style>
  * {
    box-sizing: border-box;
  }
  .medlem {
    display: grid;
    background-color: #f2dfd5;
    color: #393903;
    padding-top: 0%;
    padding-bottom: 8%;
  }
  .medlemmer_tekst h2 {
    font-size: clamp(2rem, 6vw, 8rem);
    font-family: "Crimson Pro", serif;
    font-weight: 300;
    line-height: 1;
    margin-bottom: -10px;
    text-align: center;
  }

  .medlemmer_tekst {
    width: 80vw;
    height: auto;
    margin: 0 auto;
  }

  .p_medlem {
    font-size: 16px;
    color: #393903;
    text-align: center;
    font-family: "Crimson Pro", serif;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: 200;
    line-height: 1.4;
  }
  .medlemmer_billed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 100vw;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .medlemmer_billed img {
    width: 80%;
    height: auto;
    max-width: 100vw;
    object-fit: cover;
    border-radius: 10px;
  }
  @media (min-width: 800px) {
    .medlem {
      grid-template-columns: 1fr 1fr;
      padding-bottom: 0%;
    }
    .medlemmer_tekst {
      grid-column: 2 / 3;
      grid-row: 1;
      width: 50vw;
    }
    .medlemmer_billed {
      grid-column: 1 / 2;
      grid-row: 1;
      width: 50vw;
      padding-top: 8%;
      padding-bottom: 8%;
    }
    .medlemmer_billed img {
      width: 80%;
      height: auto;

      object-fit: cover;
      border-radius: 20px;
    }
    .medlemmer_tekst h2 {
      font-size: clamp(3rem, 5vw, 8rem);
    }
    .p_medlem {
      font-size: clamp(1.2rem, 2vw, 2rem);
      width: 80%;
      margin-top: 10px;
    }
  }
</style>
