---
import Banner from "./Banner.astro";
---

<section>
  <div class="invite_paragraph">
    <h2>KLÆDESKABET I <br /> ROSKILDE</h2>

    <p class="paragraph_2">
      Kom og lån tre lækre forårsstyles – og lad andre medlemmer få glæde af det tøj, du ikke længere bruger! <br />
      <br /> Tag en ven under armen, og kom og hør mere til vores tøjbyttesalon. Oplev glæden ved at dele frem for at købe!  <br />
      <br />Vi sørger for øl, bobler og snacks. Alle er velkomne, og du deltager bare i det tidsrum, det passer ind i din dag
    </p>
    <div class="invite_button">
      <p>
        MODTAG INFORMATION <br />
        GRATIS OG UFORPLIGTENDE
      </p>
    </div>
    <img src="/communitypic.webp" alt="Billede fra klædeskab" />
  </div>
  <Banner />
</section>

<style>
  section {
    text-align: center;
  }
  .invite_paragraph {
    width: 100%;
    background-color: hsl(21, 53%, 89%);
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .invite_paragraph img {
    width: 75%;
    border-radius: 10px;
    margin-top: 4%;
  }
  h2 {
    color: #393903;
    font-size: 20px;
    font-size: clamp(2rem, 7vw, 8rem);
    font-family: "Crimson Pro";
    font-weight: 300;
    line-height: 0.9;
    padding-top: 1%;
  }
  p {
    color: #393903;
    font-size: 10px;
    padding-top: 3px;
    font-family: "Crimson Pro";
  }
  .invite_button {
    place-self: center;
    background-color: #f4f1e8;
    width: 190px;
    height: 50px;
    margin: 0 auto;
    border-radius: 2rem;
    text-align: center;
  }

  .invite_button p {
    padding-top: 6%;
    font-size: 12px;
  }
  .invite_button:hover {
    background-color: #393903;

    p {
      color: #f4f1e8;
    }
  }
  .paragraph_1,
  .paragraph_2 {
    /* margin-left: 50px;
    margin-right: 50px; */
    font-size: clamp(1rem, 2.5vw, 3rem);
    width: 60vw;
    margin: 0 auto;
    padding: 2rem;
    font-weight: 200;
  }
  .paragraph_2 {
    padding-bottom: 5%;
    padding-top: 3%;
  }
  @media (width>764px) {
    .invite_button {
      width: 400px;
      height: 90px;
      border-radius: 3rem;
    }

    .invite_button p {
      padding-top: 4%;
      font-size: 25px;
    }

    .paragraph_2 {
      font-size: 30px;
    }

    .invite_paragraph img {
      width: 70%;
      border-radius: 20px;
    }

    h2 {
      font-size: 80px;
    }
  }
</style>

<section class="salon_baggrund">
  <div class="saloner_paragraph">
    <h3>SALONER I 2025</h3>
    <p class="p_info">Tønsbergvej 70, Roskilde</p>
    <div class="grid_button">
      <button class="button"> 26. MAJ KL. 20:00 - 21:30 </button>

      <button class="button"> 24. JUNI KL. 20:00 - 22:00 </button>
    </div>
  </div>
</section>
<style>
  * {
    margin: 0 0 0 0;
    padding: 0;
  }
  section {
    text-align: center;
    /* padding-top: 50px; */
  }
  .saloner_paragraph {
    max-width: 100%;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .salon_baggrund {
    background-color: #d7d8c9;
    padding-top: 2%;
    padding-bottom: 4%;
    margin-bottom: 8%;
  }

  h3 {
    color: #393903;
    font-size: 40px;

    font-family: "Crimson Pro";
    font-weight: 300;
  }
  .p_info {
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: #393903;
    font-family: "Crimson Pro";
    padding-bottom: 3%;
    font-weight: 200;
  }

  .grid_button {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .button {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #393903;
    text-decoration: none;
    color: #f4f1e8;
    font-size: clamp(1rem, 2.5vw, 2rem);
    cursor: pointer;
    font-family: "Crimson Pro", serif;
    width: 50vw;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
  }

  .button a {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }

  @media (width>764px) {
    p {
      font-size: 20px;
    }
    .button {
      width: 40vw;
      margin: 0 auto;
      border-radius: 20px;
    }
    .button:hover {
      background-color: #393903;
      color: #d7d8c9;
      transition: 0.4s ease;
    }

    h3 {
      font-size: 80px;
    }

    .salon_baggrund {
      margin-bottom: 6%;
    }
  }
</style>
