<section>
  <div class="invite_paragraph">
    <h2>VIL DU VÆRE MED TIL AT SKABE EN MERE BÆREDYGTIG TØJKULTUR?</h2>
    <p class="paragraph_1">Another Closet er et tøjfællesskab hvor du kan du få nyt tøj hver måned - uden at skade klimaet eller tømme kontoen.</p>
    <p class="paragraph_2">Tag en ven under armen, og kom og hør mere til vores tøjbyttesalon. Oplev glæden ved at dele frem for at købe!</p>
    <div class="invite_button">
      <p>
        MODTAG INFORMATION <br />
        GRATIS OG UFORPLIGTENDE
      </p>
    </div>
  </div>
</section>
<style>
  section {
    text-align: center;
  }
  .invite_paragraph {
    width: 100%;
    background-color: #f2dfd5;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h2 {
    color: #393903;
    font-size: 20px;
    font-size: clamp(1rem, 5vw, 6rem);
    font-family: "Crimson Pro";
  }
  p {
    color: #393903;
    font-size: 10px;
    padding-top: 3px;
    font-family: "Crimson Pro";
  }
  .invite_button {
    place-self: center;
    background-color: #f4f1e8;
    width: 174px;
    height: 30px;

    border-radius: 2rem;
    text-align: center;
  }
  .invite_button:hover {
    background-color: #393903;

    p {
      color: #f4f1e8;
    }
  }
  .paragraph_1,
  .paragraph_2 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: clamp(1rem, 2.5vw, 2rem);
  }
  .paragraph_2 {
    padding-bottom: 10px;
  }
  @media (width>764px) {
    .invite_button {
      width: 500px;
      height: 60px;
      border-radius: 3rem;
    }
    p {
      font-size: 20px;
      padding-top: 3px;
    }
  }
</style>
