<section>
  <div class="saloner_paragraph">
    <h3>SALONER I 2025</h3>
    <p class="p_info">Studentertorvet, Frederikskaj 10, 2450 København</p>
    <div class="grid_button">
      <button class="button">
        <a href="oove">22. MAJ KL. 17:00 - 20:30</a>
        <a href="oove">22. MAJ KL. 17:00 - 20:30</a>
      </button>
    </div>
  </div>
  <style>
    * {
      margin: 0 0 0 0;
      padding: 0;
    }
    section {
      text-align: center;
      padding-top: 50px;
      padding-bottom: 100px;
    }
    .saloner_paragraph {
      max-width: 100%;
    }
    h3 {
      color: #393903;
      font-size: 40px;

      font-family: "Crimson Pro";
      font-weight: 300;
    }
    .p_info {
      font-size: clamp(1rem, 2.5vw, 2rem);
      color: #393903;
      font-family: "Crimson Pro";
      padding-bottom: 3%;
    }
    a {
      text-decoration: none;
    }

    .grid_button {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
    .button {
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: #d7d8c9;
      text-decoration: none;
      color: #393903;
      font-size: clamp(1rem, 2.5vw, 2rem);
      cursor: pointer;
      font-family: "Crimson Pro", serif;
      width: 50vw;
      padding: 1rem;
      margin: 0 auto;
      border-radius: 1rem;
      border: none;
    }

    .button a {
      text-decoration: none;
      color: inherit;
      text-align: center;
    }

    @media (width>764px) {
      .grid_button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        border-radius: 1rem;
      }
      p {
        font-size: 20px;
      }
      .button {
        width: 90%;
        margin: 0 auto;
      }
      .button:hover {
        background-color: #393903;
        color: #d7d8c9;
        transition: 0.4s ease;
      }

      h3 {
        font-size: 80px;
      }
    }
  </style>
</section>
